JS/05 jQuery/jquery-3.6.4.min.js
project03/public/img/dice1.png
project03/public/img/dice2.png
project03/public/img/dice3.png
project03/public/img/dice4.png
project03/public/img/dice5.png
project03/public/img/dice6.png
project03/public/img/likePic.gif
